body{
    margin: 0 auto;
    font-family:"lucida console";
    background-color: salmon;

}

a{
    text-decoration: none;
}


#header{
    width:100%;
    height: 10vh;

}


#h_container{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}


.b{
    display:flex;
    background-color:grey;
    height: 100%;
    width: 30%;
    color: white;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.b:hover{
    height: 110%;
    cursor: grab;

}

#b_container{
    margin-top: 5%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
}

.p{
    display:flex;
    height: 100%;
    width: 30%;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

#stopka{
    display: flex;
    width: 100%;
    height: 5vh;

    position: fixed;
    left: 0;
    bottom: 0;
    
    background-color: rgba(0,0,0,0.7);
    color: white;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

/* CSS DLA STRONY GRY */

#gra_container{
    width:100%;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#szukanie{
    width: 80%;
    height: 80vh;
    background-color: lightgreen;


    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    font-size: 13px;
}


/* TUTAJ ZROBIC ANIMACJE PISANIA */

/* CSS DLA STRONY ZDANIA */


#zadania_header{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 20vh;

    font-size: 25px;

}

#zadania_body{

    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 75vh;

}


.zadanie{
    display:flex;
    height: 80%;
    width: 30%;
    color: white;
    justify-content:center;
    align-items: center;
    flex-direction: column;

}

.img_zad:hover{

    height: 85%;
    cursor: grab;
}

/* CSS DLA STRONY PROFIL */

#left{
    float: left;

    width: 40%;
    height: 100vh;

}

#left_header{
    width: 100%;
    height: 15vh;

    display:flex;
    color: white;
    justify-content:center;
    align-items: center;
    
    font-size: 25px;

}

#left_body{
    width: 100%;
    height: 85vh;
    
    display:flex;
    color: white;
    justify-content:center;
    align-items: center;

}

#right{
    float: right;

    width: 60%;
    height: 100vh;

}


#right_header{
    width: 100%;
    height: 15vh;

    display:flex;
    color: white;
    justify-content:center;
    align-items: center;
    
    font-size: 25px;

}

#right_body{

    width: 100%;
    height: 85vh;
    

    display:flex;

    color: white;
}

ul {
    list-style: none;
    padding: 0px;

    font-size: 25px;
}

.lista{
    float: left;

    width: 100%;
    height: 50%;
    background-color: red;

}

#l2{
    background-color: green;

}